html{
   font-size: 62.5%;
   box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header" 
  "main" 
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  color: #ff8800;
}

header {
  grid-area: header;
  background-color: #203042;
  display: flex;
  align-items: center;
  padding: .5rem;
}

header a{
  color:#fff
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203042;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}